---
import Layout from "../../../../layouts/Layout.astro";
import PostByQuery from "./index";
const { extension } = Astro.params;
---

<Layout title={String(extension) + " search"}>
  <!-- <h2>{query}</h2> -->
  <PostByQuery extension={extension} client:load />
</Layout>
