.tabs {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  /* background-color: red; */
}
.tab-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(58, 57, 57);
  overflow: hidden;
  position: relative;
}
/*! ACTIVE INDICATOR */
.tab-color {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: width 0.3s ease, left 0.3s ease;
  /* padding: 6px; */
}
.tab-color-child {
  background-color: royalblue;
  width: 100%;
  height: 100%;
}
/* !------------------ */

/* ? buttons */
.tab-button {
  width: 100%;
  background: transparent;
  border: none;
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
  font-size: inherit;
  z-index: 20;
  text-align: center;
  color: rgb(177, 173, 173);
  font-weight: inherit;
}
.tab-button.active {
  color: white;
}

.tab-content {
  /* padding: 20px; */
  width: 100%;
  /* background-color: rosybrown;
  margin-top: 10px; */
}
.tab-panel {
  display: none;
  opacity: 0;
  /* transition: opacity 0.3s ease; */
}
.tab-panel.active {
  display: flex;
  opacity: 1;
}
/* TODO VALUES CHANGES */
.tab-buttons.size_sm {
  min-height: 36px;
  height: 36px;
  max-height: 36px;
  font-size: 20px;
  font-size: 0.8rem;
  font-weight: 500;
}
.tab-buttons.size_md {
  min-height: 40px;
  height: 40px;
  max-height: 40px;
  font-size: 1rem;
  font-weight: 500;
}
.tab-buttons.size_lg {
  min-height: 44px;
  height: 44px;
  max-height: 44px;
  font-weight: 600;
  font-size: 1.05rem;
}
.tab-buttons.size_xl {
  min-height: 52px;
  height: 52px;
  max-height: 52px;
  font-weight: 600;
  font-size: 1.1rem;
}
/* TODO Rounded values */

/* .tab-buttons.rounded_full {
  border-radius: 8px; 
}

.tab-buttons.rounded_md {
  border-radius: 12px;
}

.tab-buttons.rounded_lg {
  border-radius: 14px;
}

.tab-buttons.rounded_full {
  border-radius: 9999px;
} */
