---
import Layout from "../layouts/Layout.astro";
import Card from "./Card.astro";
// import "swiper/css";
// import Card from "../components/Card.astro";
// import getImages from "@/services/getImages";
// import type { ImagesProps } from "@/types/ImagesProps";
// import "../../public/icons/safebooru.ico"
// const data: { sucess: boolean; data: ImagesProps[] } = await getImages(
//   "realbooru",
//   1
// );
// console.log(data);
---

<Layout title="Filidonia">
  <div class="flex items-center justify-center my-5">
    <img class="w-52 h-52" src="/favicon.svg" alt="safebooru" />
  </div>
  <h2
    class="text-4xl font-extrabold uppercase text-center my-5 dark:text-white"
  >
    FILIDONIA
  </h2>
  <p
    class="mx-auto text-center md:max-w-xl max-w-sm font-semibold text-neutral-600 dark:text-neutral-400"
  >
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure, molestiae
    unde veniam hic doloribus mollitia nam
  </p>

  <div class="mt-10 lg:px-20 sm:px-10 px-5">
    <h2
      class="text-2xl font-semibold capitalize tracking-tight dark:text-white"
    >
      safe services
    </h2>
    <div class="gap-5 grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 mt-3">
      <Card
        title="safebooru.org"
        description=`Safebooru is a anime and manga picture search engine, images are being updated hourly.`
        avatar="https://safebooru.org/favicon.ico"
        background="https://safebooru.org//samples/4619/sample_162568abb18523ad14f8b18132284365ef3ca1f9.jpg?4882408"
        src="/extensions/safebooru"
      />
    </div>
  </div>
  <div class="mt-10 lg:px-20 sm:px-10 px-5 mb-5">
    <h2
      class="text-2xl font-semibold capitalize tracking-tight dark:text-white"
    >
      +18 services
    </h2>
    <div class="gap-5 grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 mt-3">
      <Card
        title="rule34.xxx"
        description=`if something exists in real life, or is made up, there will be a
      pornographic depiction of it`
        avatar="https://rule34.xxx/favicon.ico?v=2"
        background="https://us.rule34.xxx//samples/7281/sample_3e89953717d8771c2dc070fd24dbb7ef.jpg?8315449"
        position="center"
        safe={false}
        src="/extensions/rule34"
      />
      <Card
        title="realbooru.com"
        description=`The best booru for real porn stuff.`
        avatar="https://realbooru.com/favicon.ico?v=5"
        background="https://realbooru.com//images/51/5c/515c6f8100663536c83ce30a8fddc67d.jpeg"
        position="-60px"
        safe={false}
        src="/extensions/realbooru"
      />
      <Card
        title="gelbooru.com"
        description=`Millions of FREE hentai and anime videos, images, wallpapers, and more!`
        avatar="https://gelbooru.com/favicon.png"
        background="https://img3.gelbooru.com//images/a8/9d/a89d2dc8b558d6d53a51be71132ea329.jpg"
        safe={false}
        src="/extensions/gelbooru"
      />
    </div>
  </div>
</Layout>
