---
import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
// import getImages from "@/services/getImages";
// import type { ImagesProps } from "@/types/ImagesProps";
// import "../../public/icons/safebooru.ico"
// const data: { sucess: boolean; data: ImagesProps[] } = await getImages(
//   "realbooru",
//   1
// );
// console.log(data);
---

<Layout title="Welcome to Astro.">
  <div class="flex gap-5 p-5">
    <a
      href="/extensions/rule34"
      class="flex gap-2 bg-white shadow-lg ring-1 ring-neutral-300 w-fit p-2 rounded-lg items-center hover:shadow-xl hover:bg-neutral-50"
    >
      <i class="flex rounded-lg p-2 overflow-hidden bg-neutral-200 w-10 h-10"
        ><img
          class="w-full h-full rounded-sm"
          src="https://rule34.xxx/favicon.ico?v=2"
          alt=""
        /></i
      >
      <p class="font-semibold">rule34.xxx</p>
    </a>
    <a
      href="/extensions/realbooru"
      class="flex gap-2 bg-white shadow-lg ring-1 ring-neutral-300 w-fit p-2 rounded-lg items-center hover:shadow-xl hover:bg-neutral-50"
    >
      <i class="flex rounded-lg p-2 overflow-hidden bg-neutral-200 w-10 h-10"
        ><img
          class="w-full h-full rounded-md"
          src="https://realbooru.com/favicon-32x32.png?v=1"
          alt=""
        /></i
      >
      <p class="font-semibold">realbooru.xxx</p>
    </a>
    <a
      href="/extensions/safebooru"
      class="flex gap-2 bg-white shadow-lg ring-1 ring-neutral-300 w-fit p-2 rounded-lg items-center hover:shadow-xl hover:bg-neutral-50"
    >
      <i class="flex rounded-lg p-2 overflow-hidden bg-neutral-200 w-10 h-10"
        ><img
          class="w-full h-full rounded-sm"
          src="https://safebooru.org/favicon.ico"
          alt=""
        /></i
      >
      <p class="font-semibold">safebooru.xxx</p>
    </a>
    <a
      href="/extensions/gelbooru"
      class="flex gap-2 bg-white shadow-lg ring-1 ring-neutral-300 w-fit p-2 rounded-lg items-center hover:shadow-xl hover:bg-neutral-50"
    >
      <i class="flex rounded-lg p-2 overflow-hidden bg-neutral-200 w-10 h-10"
        ><img
          class="w-full h-full rounded-sm"
          src="https://gelbooru.com/favicon.png"
          alt=""
        /></i
      >
      <p class="font-semibold">gelbooru</p>
    </a>
  </div>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 8px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
</Layout>
