---
import LoginComponent from "../components/header/login";
import Layout from "../layouts/Layout.astro";
// import MobileLogin from "../mobile/components/login";
---

<Layout title="asd">
  <div>
    <!-- <MobileLogin client:load /> -->
    <LoginComponent />
  </div>
</Layout>
