---
import Layout from "../layouts/Layout.astro";
---

<Layout title="register">
  <div class="pt-20 max-w-xl mx-auto flex flex-col items-center">
    <input
      class="bg-red-500 w-full py-3 px-3"
      id="nameInput"
      placeholder="display name"
    />
    <div class="w-full">
      <input
        class="bg-red-500 w-full py-3 px-3"
        id="usernameInput"
        placeholder="username"
      />
      <h2 id="text_user">idk</h2>
    </div>
    <div class="w-full">
      <input
        class="bg-red-500 w-full py-3 px-3"
        id="passwordInput"
        placeholder="password"
      />
      <h2 id="text_password">idk</h2>
    </div>
    <button id="buttonCreate" type="button">CREATE ACOUNT</button>
  </div>
</Layout>

<script is:inline>
  //   import {redirect} from "astro";
  const text_user = document.querySelector("#text_user");
  const text_password = document.querySelector("#text_password");
  const nameInput = document.querySelector("#nameInput");
  const usernameInput = document.querySelector("#usernameInput");
  const passwordInput = document.querySelector("#passwordInput");
  const buttonCreate = document.querySelector("#buttonCreate");

  const usable = {
    username: false,
    password: false,
  };
  usernameInput.addEventListener("input", async () => {
    console.log(usernameInput.value.length);
    if (usernameInput.value.length > 0) {
      try {
        const response = await fetch(
          `http://localhost:3000/api/user/register/${usernameInput.value}`,
          {
            method: "GET",
          }
        );
        const data = await response.json();
        if (data.success) {
          text_user.innerHTML = "can you use this";
          text_user.style.color = "green";
          usable.username = true;
          return;
        } else {
          text_user.innerHTML = "can't you use this";
          text_user.style.color = "red";
          // usable = false
          usable.username = false;
          return;
        }
      } catch (error) {}
    } else {
      text_user.innerHTML = "idk";
      text_user.style.color = "black";
    }
  });
  passwordInput.addEventListener("input", async () => {
    if (passwordInput.value.length < 7) {
      text_password.innerHTML = "password more 6 letters";
      usable.password = false;
    } else {
      text_password.innerHTML = "looking good";
      usable.password = true;
    }
  });
  buttonCreate.addEventListener("click", async () => {
    if (usable.password && usable.username) {
      const user = {
        name: nameInput.value,
        username: usernameInput.value,
        password: passwordInput.value,
      };
      console.log(user);
      const response = await fetch("http://localhost:3000/api/user/register", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify(user),
      });
      const data = await response.json();
      if (data.success) {
        const response = await fetch("http://localhost:3000/api/user/login", {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            username: usernameInput.value,
            password: passwordInput.value,
          }),
        });
        const cookie = await response.json();
        const expirationTime = 3600 * 1000 * 24; // 1 hora en milisegundos
        const currentTime = new Date();
        const expirationDate = new Date(currentTime.getTime() + expirationTime);
        const expirationDateString = expirationDate.toUTCString();
        const cookieString = `token=${cookie}; expires=${expirationDateString}; path=/`;
        document.cookie = cookieString;
        window.history.back()
      }
      console.log(data);
    } else {
      console.log("FALTA ALGO WE");
    }
  });
</script>
