---
const { extension } = Astro.params;
import Searcher from "./searcher";
import HeaderUser from "./HeaderUser";
import HeaderNavigator from "./header/headerNavigator";
---

<header>
  <div
    class="bg-transparent md:bg-white md:top-0 bottom-0 md:dark:bg-neutral-950 w-full md:min-h-20 md:h-20 min-h-14 max-h-14 fixed flex md:justify-center gap-0 md:px-10 px-0 items-center z-40"
  >
    <HeaderNavigator extension={extension} client:only="react" />
    <div class="md:flex w-full hidden md:items-center">
      <Searcher client:only="react" />
      <HeaderUser client:only="react" />
    </div>
  </div>
</header>
