.selected {
  background: linear-gradient(
    to bottom left,
    rgba(255, 255, 255, 1),
    rgba(165, 241, 33, 0.2)
  );

  outline: 1px solid black;
  border: none;
}

@media (prefers-color-scheme: dark) {
  .selected{
    background: linear-gradient(
      to bottom left,
      rgb(0, 0, 0),
      rgba(165, 241, 33, 0.349)
    );

    outline: 1px solid white;
    border: none;
  }
}
